<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/index" >
    <head>
        <title>List Customer Menu</title>  
    </head>
    <body>
        <div layout:fragment="content" class="container py-5">
            <h3 style="text-align: center;">Daftar List Customer Cipta Dwi Karya</h3>
            <a type="button" class="btn btn-success py-2 d-none d-md-inline-block" th:href="@{/customer/add}">Customer Add</a>
            <table class="table table-bordered">
                <thead style="background-color: #808896; color:white;">
                    <tr>
                        <th width="5%">Id</th>
                        <th width="20%">Name</th>
                        <th width="20%">Address</th>
                        <th width="20%">Phone</th>
                        <th width="20%">Create Date</th>
                        <th width="10%">Create By</th>
                        <th width="5%">Action</th>
                    </tr>
                </thead>
                <tbody style="background-color: #E8ECF5; color:black">
                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.id}">Cell 1</td>
                        <td th:text="${customer.name}">Cell 2</td>
                        <td th:text="${customer.address}">Cell 3</td>
                        <td th:text="${customer.phone}">Cell 4</td>
                        <td th:text="${customer.createdDate}">Cell 5</td>
                        <td th:text="${customer.createdBy}">Cell 6</td>
                        <td>
                            <a type="button" class="btn btn-primary" href="/customer/edit" th:href="@{/customer/edit/__${customer.id}__}">Edit</a>
                            <a type="button" class="btn btn-danger" href="/customer/delete" th:href="@{/customer/delete/__${customer.id}__}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
