<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/index" >
    <head>
        <title>List Transaction Menu</title>  
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <h3 style="text-align: center;">Menu Transaction</h3>
            <a type="button" class="btn btn-success" th:href="@{/transaction/add}">Transaction Add</a>
            <div class="table-responsive">
                <table id="myTable" class="table table-bordered table-striped">
                    <thead >
                        <tr>
                            <th>NO</th>
                            <th>Transaction Date</th>
                            <th>Delivery Date</th>
                            <th>Status</th>
                            <th>Quantity</th>
                            <th>Admin</th>
                            <th>Barang</th>
                            <th>Harga</th>
                            <th>Total Harga</th>
                            <th>Customer Name</th>
                            <th>Customer Address</th>
                            <th>Note</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr th:each="transaction,stat : ${transactions}">
                            <td th:text="${stat.index}+1">Cell 1</td>
                            <td th:text="${transaction.transactionDate}">Cell 2</td>
                            <td th:text="${transaction.deliveryDate}">Cell 3</td>
                            <td th:text="${transaction.idStatus.name}">Cell 4</td>
                            <td th:text="${transaction.quantity}">Cell 5</td>
                            <td th:text="${transaction.idUser.name}">Cell 6</td>
                            <td th:text="${transaction.idInventory.name}">Cell 7</td>
                            <td th:text="${transaction.idInventory.priceSell}">Cell 8</td>
                            <td th:text="${transaction.totalHarga}">Cell 9</td>
                            <td th:text="${transaction.idCustomer.name}">Cell 10</td>
                            <td th:text="${transaction.idCustomer.address}">Cell 11</td>
                            <td th:text="${transaction.note}">Cell 12</td>
                            <td>
                                <a type="button" class="btn btn-primary" href="/report/safeConduct" th:href="@{/report/safeConduct/__${transaction.idTransaction}__}" target="blank" >Surat Jalan</a>
                                <a type="button" class="btn btn-primary" href="/transaction/edit" th:href="@{/transaction/edit/}+${transaction.idTransaction}">Edit</a>
                                <a th:if="${transaction.idStatus.name}!='Retur'" type="button" class="btn btn-danger" href="/transaction/return" th:href="@{/transaction/return/__${transaction.idTransaction}__}">Retur</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>

    <section layout:fragment="page-script">
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>
    </section>
</html>
