<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/index" >
    <head>
        <title>List User Menu</title>  
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <h3 style="text-align: center;">List Admin</h3>
            <a type="button" class="btn btn-success py-2 d-none d-md-inline-block" th:href="@{/user/add}">User Add</a>
            <div class="table-responsive">
                <table id="myTable" class="table table-bordered table-striped">
                    <thead >
                    <tr>
                        <th>No</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Password</th>
                        <th>Enable</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody >
                    <tr th:each="user,stat : ${users}">
                        <td th:text="${stat.index}+1">Cell 1</td>
                        <td th:text="${user.username}">Cell 2</td>
                        <td th:text="${user.name}">Cell 3</td>
                        <td th:text="${user.password}">Cell 4</td>
                        <td >
                            <span th:if="${user.enable == 1}">Active</span>
                            <span th:if="${user.enable == 0}">Disable</span>
                        </td>
                        <td>
                            <a type="button" class="btn btn-primary" href="/user/edit" th:href="@{/user/edit/__${user.idUser}__}">Edit</a>
                            <a type="button" class="btn btn-danger" href="/user/delete" th:href="@{/user/delete/__${user.idUser}__}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>        

        <section layout:fragment="page-script">
            <script>
                $(document).ready(function () {
                    $('#myTable').DataTable();
                });
            </script>
        </section>
    </body>
</html>
