<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/index" >
    <head>
        <title>TODO supply a title</title>  
    </head>
    <body>
        <div layout:fragment="content" class="container py-5">
            <h3>Spring Boot and Thymeleaf, part 3 - SPRING DATA JPA</h3>
            <a class="py-2 d-none d-md-inline-block" th:href="@{/customer/add}">Customer Add</a>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Create Date</th>
                    <th>Create By</th>
                </tr>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.id}">Cell 1</td>
                    <td th:text="${customer.name}">Cell 2</td>
                    <td th:text="${customer.address}">Cell 3</td>
                    <td th:text="${customer.phone}">Cell 4</td>
                    <td th:text="${customer.created_date}">Cell 5</td>
                    <td th:text="${customer.created_by}">Cell 6</td>
                    <td>
                        <a href="/customer/edit" th:href="@{/customer/edit/__${customer.id}__}">Edit</a>
                        <a href="/customer/delete" th:href="@{/customer/delete/__${customer.id}__}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
